{{user-input-form model=model transitionInComponent=(action "transitionInController")}}


<table id="searchRequestTable">
    <tr>
        <th>Id</th>
        <th>URL</th>
        <th>Search Method</th>
        <th>Depth</th>
        <th>Keyword</th>
    </tr>
{{#each model as |request|}}
<tr>
    <td>{{request.id}}</td>
    <td class="request-url">{{request.url}}</td>
    <td class="request-search-method">{{request.searchMethod}}</td>
    <td id="request-depth">{{request.depth}}</td>
    <td id="request-keyword">{{request.keyword}}</td>
</tr>
{{/each}}
</table>


{{outlet}}