 {{#each model as |request|}}
        <div class="list-item">
            <div class="history-header">
               {{request.url}}
            </div>
            <div class = "history-more-info">
                <div class="history-section">
                    <div class="section-title">Method</div> 
                    <div>{{request.searchMethod}}</div>
                </div>
                <div class="history-section"> 
                    <div class="section-title">Depth</div>  
                    <div>{{request.depth}}</div>
                </div>
                {{#if request.keyword}}
                    <div class="history-section">
                        <div class="section-title">Keyword</div>  
                        <div>{{request.keyword}}</div>
                    </div>
                {{/if}}
                <div class="history-section">
                    <div class="button1">
                        <a {{action "repeatSearch" request.id}} class="waves-effect waves-light btn">Repeat Search</a>
                    </div>
                    <div class="button2">
                        <a {{action 'deleteSearch' request.id}} class="waves-effect waves-red btn-flat">Delete Search</a>
                    </div>
                </div>
            </div>
            <div></div>
            
            <div class="list-divider"></div>
        </div>
{{/each}}
