<div class="form-container">
<form class="input-form" {{action 'submitForm' on="submit"}}>
    <div class="form-column">
    <div class="input-field col s6 url-search">
        {{input value=url id="search-url" type="text"
        required=true pattern='https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)'
        title="URL's should be in the format http(s):// + hostname + TLD. Example: https://google.com"}}
        <label for="search-url" class="active">Url to Search</label>
    </div>
    <div class="radio-buttons">
        <div class="radio-button-div">
            <p>
                {{#radio-button
                value="bfs"
                groupValue=searchMethod
                changed=(action "methodChanged")
                }}
                <span>Breadth First Search </span><span class='search-depth-radio' id="bfs-radio">Allowed depth 1-3</span>
                {{/radio-button}}
            </p>
            <p>
                {{#radio-button
                value="dfs"
                groupValue=searchMethod
                changed=(action "methodChanged")
                }}
                <span>Depth First Search </span><span class='search-depth-radio' id="dfs-radio">Allowed depth 1-10</span>
                {{/radio-button}}
            </p>
        </div> 
    </div>
    
    <div class="inline-form-row">
        <div class="input-field inline">
            {{input value=depth id="search-depth" type="number" min="1" max="3" required=true }}
            <label for="search-depth">Search Depth</label>
        </div>
        <div class="input-field inline">
            {{input value=keyword id="search-keyword" type="text"}}
            <label for="search-keyword">Keyword</label>
        </div>
    </div>
    <div class="button-div">
        <div>
            <button class="btn waves-effect waves-light" type="submit">Search
                <i class="material-icons right">search</i>
            </button>
        </div>
     <div>
     <a {{action 'clearForm'}} class="waves-effect waves-teal btn-flat">Clear Form</a>

     </div>
    </div>
    </div>
</form>  
</div>